.game__board__container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--black-color);

  .settings__container {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 2rem;
    transition: .2s;

    &:hover {
      transform: scale(1.2);
      transition: .2s;
    }
  }

  .score__container {
    color: white;
    font-size: 20px;
    font-family: "BalAstral", sans-serif;
  }

  #reset__button {
    display: none;
    position: absolute;
    margin-top: 3rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.1);
      transition-duration: 0.2s;
    }
  }
}
