:root {
  --black-color: #0a0502;
  --blue-color: #473cdd;
  --yellow-color: #fec7a3;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: var(--black-color);
  font-family: "Poppins", sans-serif
}

@font-face {
  font-family: "BalAstral", sans-serif;
  src: url( "./assets/fonts/BalAstaral3D-WyxyY.ttf");
}
