/* CSS */
.button {
    /* Трансформация при наведении */
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-transition: all 0.3s ease;
}

.button:hover {
    /* Эффект при наведении */
    -fx-translate-y: -2px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 15, 0 , 0 , 8 );
}

.button:pressed {
    /* Эффект при нажатии */
    -fx-translate-y: +2px;
    -fx-effect: null;
}

#exitButton {
    -fx-background-image: url('/stageFiles/Cancel.png');
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-radius: 50%;
    -fx-transition: all 0.3s ease;
}

#exitButton:hover {
    /* Эффект при наведении */
    -fx-translate-y: -0.25px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 7, 0 , 0 , 4 );
}

#exitButton:pressed {
    -fx-translate-y: +0.5px;
    -fx-effect: null;
}

#backButton {
    -fx-background-image: url('/stageFiles/back.png');
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-radius: 50%;
    -fx-transition: all 0.3s ease;
}

#backButton:hover {
    /* Эффект при наведении */
    -fx-translate-y: -0.25px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 7, 0 , 0 , 4 );
}

#backButton:pressed {
    -fx-translate-y: +0.5px;
    -fx-effect: null;
}

.combo-box {
    -fx-background-color: #9e5ce4;
    -fx-border-color: #ccc;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
    -fx-text-fill: white;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: white;
    -fx-shape: "M 0 0 L 4 5 L 8 0 Z";
    -fx-translate-x: -2px;
    -fx-translate-y: 1px;
    -fx-transition: transform 0.3s ease-in-out;
}

.combo-box .list-view {
    -fx-background-color: #9e5ce4;
    -fx-border-color: #ccc;
    -fx-border-radius: 3px;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14;
}

.combo-box .list-view .list-cell {
    -fx-padding: 5px;
    -fx-background-color: #9e5ce4;
}

.combo-box .list-view .list-cell:hover {
    -fx-translate-y: -2px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 15, 0 , 0 , 8 );
}



.combo-box .increment-arrow, .combo-box .decrement-arrow {
    -fx-background-color: #9e5ce4; /* Цвет стрелочек у ползунка ползунка */
    -fx-border-width: 1px;
}

.combo-box .thumb {
    -fx-background-color: #9e5ce4;

}

.combo-box .track {
    -fx-background-color: transparent;
    -fx-opacity: 0;
}

#openSlider {
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-transition: all 0.3s ease;
}

#openSlider:hover {
    -fx-translate-y: -1px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 15, 0 , 0 , 8 );
}

#openSlider:pressed {
    /* Эффект при нажатии */
    -fx-translate-y: +1px;
    -fx-effect: null;
}

#closeSlider {
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-transition: all 0.3s ease;
}

#closeSlider:hover {
    -fx-translate-y: -1px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 15, 0 , 0 , 8 );
}

#closeSlider:pressed {
    /* Эффект при нажатии */
    -fx-translate-y: +1px;
    -fx-effect: null;
}