/venv
/.venv
/.idea
/.gitignore
/.github
/.ruff_cache
/.mypy_cache
.ruff_cache
.mypy_cache
/data
data
.pre-commit-config.yaml
.env.dist
justfile
LICENSE
README.md
/tests
docker-compose.yaml
Dockerfile
./vscode
/vscode
