html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #E8EFF8;
	transition: all .25s;

	&.loaded {
		opacity: 1 !important;
	}
}

.pgmanage-login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	&__wrapper {
		width: 100%;
		max-width: 400px;
		max-height: 400px;
		background-color: #FFFFFF;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		box-sizing: border-box;
	}

	&__header {
		position: relative;
		padding-left: 5px;
		padding-top: 15px;

		&:after {
			content: "";
			display: block;
			background: linear-gradient(to right, #90949A, transparent);
			height: 1px;
			width: 75%;
			margin-left: 15px;

		}
		/* Animated Logo styles */
		svg {
			margin-bottom: 0.5rem;

			#gear-0 path,
			#gear-0 rect {
			  animation: fadeIn 0.5s ease forwards 0.2s;
			  opacity: 0;
			}

			#gear-1 path,
			#gear-1 rect {
			  animation: fadeIn 0.5s ease forwards 0.5s;
			  opacity: 0;
			}

			#gear-2 path,
			#gear-2 rect {
			  animation: fadeIn 0.5s ease forwards 0.9s;
			  opacity: 0;
			}

			#gear-3 path,
			#gear-3 rect {
			  animation: fadeIn 0.5s ease forwards 1.2s;
			  opacity: 0;
			}

			#text_pg path,
			#text_pg rect,
			#text_manage path,
			#text_manage rect {
			  fill-opacity: 0;
			  stroke: #818181;
			  stroke-width: 1px;
			  stroke-dasharray: 100;
			  stroke-dashoffset: 100;
			}

			#text_pg path,
			#text_pg rect,
			#text_manage path,
			#text_manage rect {
			  animation: svgDrawStrokes 1s linear forwards 0.3s,
				fadeInInfill 0.6s linear forwards 1.3s,
				svgFadeStrokes 0.6s linear forwards 1.3s;
			}
		}
	}

	&__body {
		padding: 20px;
	}

	&__version {
		position: relative;

		small {
			display: block;
			position: absolute;
			right: 20px;
			bottom: 5px;
			color: #90949A;
			opacity: 0.5;
		}
	}

	.form-control {
		font-size: 0.875rem;
		caret-color: #16171E;
        &:focus,
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            box-shadow: 0 0 0 4px rgba(32, 107, 196, .25);
            color: #F8FAFD;
            transition: background-color 5000s ease-in-out 0s;
			border: 1px solid #CAD0D8;
			-webkit-text-fill-color: #16171E;
        }

		&::placeholder {
			color: #808080;
		}
	}

	.btn-success {
		font-size: inherit;
		border: 1px solid transparent;
		background-color: #2FB344;
		font-weight: 500;
		border-radius: 6px;
		box-sizing: border-box;
		transition: none !important;
	}

	.alert {
		padding: 0.5rem;
		font-size: 0.7rem;
	}
}

@keyframes svgDrawStrokes {
  to {
	stroke-dashoffset: 0;
  }
}

@keyframes svgFadeStrokes {
  to {
	stroke: transparent;
  }
}

@keyframes fadeIn {
  to {
	opacity: 1;
  }
}

@keyframes fadeInInfill {
  to {
	fill-opacity: 1;
  }
}

@keyframes slideInFromRight {
  to {
	transform: translateX(0);
  }
}
