$theme-map: null; //important! do not delete this

@import './omnidb.scss';

// external libs
@import 'vue-toast-notification/dist/theme-sugar.css';
@import '@xterm/xterm/css/xterm.css';
@import '@imengyu/vue3-context-menu/lib/vue3-context-menu.css';
@import "tabulator-tables/dist/css/tabulator.min.css";

@import './common/themes';
@import './common/variables';
@import './common/typography';
@import './common/ui-elements';

@import './components/button';
@import './components/dropdown';
@import './components/accordion';
@import './components/input';
@import './components/modal';
@import './components/tabs';
@import './components/pagination';
@import './components/card';
@import './components/list-group';
@import './components/tables';
@import './components/schema-editor';
@import './components/data-editor-tab';
@import './components/bootstrap-tooltips';
@import './components/welcome-screen';

@import './libs/pev2/pev2';
@import './libs/tabulator';
@import './libs/vue-power-tree';
@import './libs/cron-light';
@import './libs/context-menu-pgmanage';
@import './libs/toasts';
@import './libs/erd-card';
@import './libs/daterangepicker';
@import './libs/splitpanes';
@import './libs/alert';
@import './libs/color-labels';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $primaryDark;
}

.backup-tab-scrollable {
    height: calc(100vh - 45px);
    overflow: hidden scroll;
}

.xterm-screen {
    padding: 0.5rem 1rem;
}

.refresh-menu {
    &__link {
        color: $primaryMutedColor;
        text-decoration: none;
        transition: all .15s ease-in-out;

        &:hover, &:active {
            color: $primaryBlue;
            i {
                color: $primaryBlue;
            }
        }
    }
}