# Auth Settings
PRIVATE_KEY=
PUBLIC_KEY=
ALGORITHM="RS256"
ACCESS_TOKEN_EXPIRE_MINUTES=5
REFRESH_TOKEN_EXPIRE_MINUTES=15

# Mongo Settings
MONGO_DB_URL="mongodb://root:root@mongodb-pacman-app:27017/"
MONGO_DB_DATABASE_NAME="base_database"
MONGO_DB_ADMIN_USERNAME="root"
MONGO_DB_ADMIN_PASSWORD="root"

# Application Settings
API_PORT=8000