/* В данный блок помещается само решение */
.answer {
	position: absolute;
	right: 0;
	top: 0;
	display: grid;
	place-items: center;
	background: #acd2fb;
	border-radius: 1em;
	clip-path: circle(5.2rem at 100% 0);
	transition: all 0.3s;
	padding: 1rem 4rem 4rem 4rem;
  z-index: 1;
}

/* При наведении раскрывается полностью */
.answer:hover {
	clip-path: circle(141.4% at 100% 0);
}

/* Контейнер, в который мы помещаем условие задания и решение. Сделан с той целью, чтобы были слева и справа */
.task-container {
	display: flex;
	justify-content: space-between;
  margin-bottom: 9rem;
}

.title_answer_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.fas.fa-lightbulb {
  font-size: 1.5rem;
  color: yellow;
}


