/venv
.venv
/.venv
/.idea
/.gitignore
/.github
LICENSE
README.md
/tests
docker-compose.yaml
Dockerfile
vscode
/vscode
.settings/
.project
.classpath
.gradle/
.pdm.render/
out/
target/
build/
**/*.class
*.jar
*.war
*.ear