@import url(https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap);

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 10px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: rgba(28, 17, 41, 0.88);
}

.menu-bar {
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
}

.toggle-theme-button {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.toggle {
    margin-left: 15px;

}

