.card {
    border-radius: $borderRadius;
    overflow: hidden;
    background-color: initial;

    @include themify() {
        border: themed($border);
        background-color: themed($surfaceBgSecondary);
    }

    &-header {
        background-color: rgba($primaryBlue, .2);
        
        &:first-child {
            border-radius: 0;
        }

        @include themify() {
            border-bottom: themed($border) !important;
        }
    }

    &-body {
        padding: 24px;

        @include themify() {
            background-color: themed($surfaceBgSecondary);
        }
        
        .btn-close {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}