.list-group {
    &-item {
        @include themify() {
            background-color: themed($cardListGroupItem);
            border-color: themed($borderColor) !important;
        }

        & + .list-group-item.active {
            margin-top: 0;
        }
    }
}