DATABASE_DIALECT=postgresql
DATABASE_DRIVER=asyncpg
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=user-service-database
DATABASE_PORT=5555
DATABASE_HOST=localhost

# pgAdmin settings
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin_password
PGADMIN_PORT=5050

# MinIo settings
MINIO_ROOT_USER=your_username
MINIO_ROOT_PASSWORD=your_pasword
MINIO_DEFAULT_BUCKETS=dump-database