/* Почитал, что обычно ставят какой-то корневой в px, а как тогда масштабируемость определяется? */
.text {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

/* Костыль, чтобы центрировать block-inline*/
.center_any_title {
  text-align: center;
}

/* Подзаголовки для доказательства теорем и т.п */
.proof_or_theorem {
  display: block;
  text-align: left;
  font-size: 1.1875rem;
} 




