version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "09:00"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    # https://til.simonwillison.net/github/dependabot-python-setup
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: uv
    directory: /
    exclude-paths:
      - "requirements/**"
    schedule:
      interval: weekly
      day: monday
      time: "09:00"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    groups:
      pip:
        patterns:
          - "*"