# Скопировать как .env в корне проекта (docker/sonarqube/.env или ../../.env)
# и заполнить значением, полученным в SonarQube UI:
# Profile → My Account → Security → Generate Tokens.

SONAR_HOST_URL=http://localhost:9000
SONAR_TOKEN=  # сюда положи свой токен
